anyio==4.3.0 ; python_version >= "3.9" and python_version < "4.0"
asyncssh==2.14.2 ; python_version >= "3.9" and python_version < "4.0"
betterproto==2.0.0b6 ; python_version >= "3.9" and python_version < "4.0"
blinker==1.7.0 ; python_version >= "3.9" and python_version < "4"
certifi==2024.2.2 ; python_version >= "3.9" and python_version < "4.0"
cffi==1.16.0 ; python_version >= "3.9" and python_version < "4.0" and platform_python_implementation != "PyPy"
charset-normalizer==3.3.2 ; python_version >= "3.9" and python_version < "4"
click==8.1.7 ; python_version >= "3.9" and python_version < "4"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "4" and platform_system == "Windows"
cryptography==42.0.5 ; python_version >= "3.9" and python_version < "4.0"
dash-bootstrap-components==1.5.0 ; python_version >= "3.9" and python_version < "4"
dash-core-components==2.0.0 ; python_version >= "3.9" and python_version < "4"
dash-html-components==2.0.0 ; python_version >= "3.9" and python_version < "4"
dash-table==5.0.0 ; python_version >= "3.9" and python_version < "4"
dash==2.16.0 ; python_version >= "3.9" and python_version < "4"
exceptiongroup==1.2.0 ; python_version >= "3.9" and python_version < "3.11"
flask==3.0.2 ; python_version >= "3.9" and python_version < "4"
grpclib==0.4.7 ; python_version >= "3.9" and python_version < "4.0"
gunicorn==21.2.0 ; python_version >= "3.9" and python_version < "4.0"
h11==0.14.0 ; python_version >= "3.9" and python_version < "4.0"
h2==4.1.0 ; python_version >= "3.9" and python_version < "4.0"
hpack==4.0.0 ; python_version >= "3.9" and python_version < "4.0"
httpcore==1.0.4 ; python_version >= "3.9" and python_version < "4.0"
httpx==0.26.0 ; python_version >= "3.9" and python_version < "4.0"
hyperframe==6.0.1 ; python_version >= "3.9" and python_version < "4.0"
idna==3.6 ; python_version >= "3.9" and python_version < "4.0"
importlib-metadata==7.0.1 ; python_version >= "3.9" and python_version < "4"
itsdangerous==2.1.2 ; python_version >= "3.9" and python_version < "4"
jinja2==3.1.3 ; python_version >= "3.9" and python_version < "4"
markupsafe==2.1.5 ; python_version >= "3.9" and python_version < "4"
multidict==6.0.5 ; python_version >= "3.9" and python_version < "4.0"
nest-asyncio==1.6.0 ; python_version >= "3.9" and python_version < "4"
numpy==1.26.4 ; python_version >= "3.9" and python_version <= "3.11" or python_version >= "3.12" and python_version < "4.0"
packaging==23.2 ; python_version >= "3.9" and python_version < "4.0"
pandas==2.2.1 ; python_version >= "3.9" and python_version < "4.0"
passlib==1.7.4 ; python_version >= "3.9" and python_version < "4.0"
plotly==5.19.0 ; python_version >= "3.9" and python_version < "4"
pyaml==23.12.0 ; python_version >= "3.9" and python_version < "4.0"
pyasic==0.54.1 ; python_version >= "3.9" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.9" and python_version < "4.0" and platform_python_implementation != "PyPy"
python-dateutil==2.9.0.post0 ; python_version >= "3.9" and python_version < "4.0"
python-dotenv==1.0.1 ; python_version >= "3.9" and python_version < "4.0"
pytz==2024.1 ; python_version >= "3.9" and python_version < "4.0"
pyyaml==6.0.1 ; python_version >= "3.9" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.9" and python_version < "4"
retrying==1.3.4 ; python_version >= "3.9" and python_version < "4"
setuptools==69.1.1 ; python_version >= "3.9" and python_version < "4"
six==1.16.0 ; python_version >= "3.9" and python_version < "4.0"
sniffio==1.3.1 ; python_version >= "3.9" and python_version < "4.0"
tenacity==8.2.3 ; python_version >= "3.9" and python_version < "4"
toml==0.10.2 ; python_version >= "3.9" and python_version < "4.0"
typing-extensions==4.10.0 ; python_version >= "3.9" and python_version < "4.0"
tzdata==2024.1 ; python_version >= "3.9" and python_version < "4.0"
urllib3==2.2.1 ; python_version >= "3.9" and python_version < "4"
werkzeug==3.0.1 ; python_version >= "3.9" and python_version < "4"
zipp==3.17.0 ; python_version >= "3.9" and python_version < "4"
